$black = #000000
$white = #FFFFFF
$primary = #1E8BC3
$primaryLighter = #68B2DA
$primaryLight = #409BCC
$primaryDark = #0774AF
$primaryDarker = #055580
$warn = #DA2924
$warnLight = #EA524E
$warnDark = #AE1511
$background = #E0E0E0

.background
  background-color: $background
