@require './flex.styl'
@require './colors.styl'
@require './mixins.styl'
@require './typography.styl'
@require './spacing.styl'
@require './inputs.styl'
@require './buttons.styl'
@require './icons.styl'
@require './scroll.styl'
@require './shadows.styl'

html, body, #main-container
  height: 100%

html
  font-size: 62.5%

body
  font-size: 1.4rem
  color: $black
  @extend .main-text

*
  box-sizing: border-box
