@import './flex.styl'
@import './colors.styl'
@import './mixins.styl'
@import './typography.styl'
@import './spacing.styl'
@import './inputs.styl'
@import './buttons.styl'

html, body, #main-container
  height: 100%

html
  font-size: 62.5%

body
  font-size: 1.4rem

*
  box-sizing: border-box
