@require './colors.styl'

.primary-text
  color: $primary

.main-text
  opacity: $mainTextOpacity

.secondary-text
  opacity: $secondaryTextOpacity

.disabled-text, .hint-text
  opacity: $disabledTextOpacity

.sm-text
  font-size: 1.2rem

.l-text
  font-size: 1.8rem

.text-aligned-center
  text-align: center

.white-text
  .main-text
    color: $white
    opacity: $mainWhiteTextOpacity

  .secondary-text
    color: $white
    opacity: $secondaryWhiteTextOpacity

  .disabled-text, .hint-text
    color: $white
    opacity: $disabledWhiteTextOpacity

a
  color: $primary
  text-decoration: none
