@require './colors.styl'

.primary-text
  color: $primary

.main-text
  opacity: $mainTextOpacity

.secondary-text
  opacity: $secondaryTextOpacity

.disabled-text, .hint-text
  opacity: $disabledTextOpacity

.sm-text
  font-size: 1.2rem

a
  color: $primary
  text-decoration: none
