@require './colors.styl'

@font-face
  font-family AppFont
  font-style normal
  src url(../styles/LatoRegular.ttf)

@font-face
  font-family AppFontAlt
  font-style normal
  src url(../styles/KuraleRegular.otf)

html
  font-family: AppFont

.primary-text
  color: $primary

.main-text
  opacity: $mainTextOpacity

.secondary-text
  opacity: $secondaryTextOpacity

.disabled-text, .hint-text
  opacity: $disabledTextOpacity

.sm-text
  font-size: 1.2rem

.l-text
  font-size: 1.8rem

.xl-text
  font-size: 2rem

.bold-text
  font-weight: bold

.text-aligned-center
  text-align: center

.white-text
  &.main-text, .main-text
    color: $white
    opacity: $mainWhiteTextOpacity

  &.secondary-text, .secondary-text
    color: $white
    opacity: $secondaryWhiteTextOpacity

  &.disabled-text, .disabled-text, &.hint-text, .hint-text
    color: $white
    opacity: $disabledWhiteTextOpacity

.alt-font
  font-family: AppFontAlt

a
  color: $primary
  text-decoration: none
