@require '../styles/main.styl'

@import '../components/card/card.styl'
@import '../components/modal/modal.styl'

#main-container
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;


.main-content
  margin-bottom: $base*5
