.section-header
  .section-divider-container
    position: relative

    .section-divider
      background-color: rgba(0,0,0, $secondaryTextOpacity)
      position: absolute
      height: 0.1rem
      top: 50%
      bottom: 50%
      left: 0
      right: 0
